.aggregate-salary {
  height: 100px;
}

form {
  display: block;
  position: absolute;
  width: 30%;
  margin: 0;
}

label, input {
  display: block;
}

input {
  margin-bottom: 1em;
}

.results-div {
  position: absolute;
  display: block;
  left: 40%;
}
